/* header */
.title-section{
  width: 50%;
}
.title-section h1{
  background-image: url("../img/cat-green.png");
  background-size: contain;
  background-repeat: no-repeat;
  color: #222;
  padding: 0.5em;
  margin-top :0.6em;
}

.menu-section{
  width: 50%;
  padding: 1.8em;
}
.header-menu{
  width: 100%;
  display: flex;
}
.header-menu li{
  vertical-align: middle;
}

.header-menu li{
  padding: 0.8em;
  color:#333;
  font-size: 1.2em;
}
.menu-hover:hover{
  background: #FF5A36;
  color: #fff;
}

/* content */
.section-title{
  width: 100%;
  margin: 10px auto;
  color: #fff;
  padding: 10px;
  font-size: 2em;
  text-align: center;
}

/* profile */
.profile-text{
  width: 90%;
  margin: 5% auto;
  color :#333;
}
.profile-table{
  width: 90%;
  margin: 5% auto;
  color :#333;
}
.profile-table tr{
  width: 100%;
  border-bottom: 1px dashed #ccc;
}
.profile-table th{
  width:30%;
}
.profile-table td{
  width: 70%;
}
.profile-table th,td{
  padding: 15px 10px;
}

/* works */
.single-work{
  margin: 5% 1%;
  padding: 0 0 3% 0;
  border-bottom: 1px solid #eee;
}
.work-title{
  padding: 1% 5%;
  margin: 0 5%;
  width: 90%;
  border-bottom: dashed 2px #35f2ad;
  color: #35f2ad;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 2px;
  vertical-align: top;
}
.single-work ul{
  width: 100%;
  display: flex;
  min-height: 100px;
}
.img-section{
  width: 40%;
  margin: 10px;
  vertical-align: top;
}
.img-section img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}
.text-section{
  width: 60%;
  vertical-align: top;
}
.work-text{
  margin: 0 5%;
  width: 90%;
  color: #333;
}
.square-btn{
  cursor: pointer;
  display: inline-block;
  outline: none;
  line-height: 40px;
  padding: 0 30px;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 5%;
  color: #fff;
  background: #FF5A36;
  border: 1px solid #FF5A36;
}
.square-btn:hover{
  background: #fff;
  color: #ff5a36;
  border:1px solid #FF5A36;
}
/* footer */
.footer{
  min-height: 100px;
}
.footer-menu{
  width: 100%;
  display: flex;
}
.footer-menu li{
  width: 50%;
  padding: 10px;
}

.footer-menu li > a{
  line-height: 4.5em;
  color:#fff;
  font-size: 1.6em;
}

.footer-menu li >a:hover{
  color: #222;
}


/* sp */
@media screen and (max-width: 768px) {
  .title-section{
    width: 100%;
  }
  .menu-section{
    display: none;
  }
  section{
    margin-bottom: 50px;
  }
  .single-work{
    margin: 5% 1% 10%;
  }
  .single-work ul{
    display: block;
  }
  .img-section,.text-section{
    width: 100%;
  }
  .img-section{
    margin: 10px 0;
  }
  .img-section img{
    max-width: 90%;
    height: auto;
    margin: 0 5%;
  }
}
