/* color */
$black: #434343;
$lemon: #f6e355;
$mint: #a9d8cf;
$sand: #eaddc7;

/* font*/
$fontFamily: 'Sawarabi Mincho, Noto Serif JP', serif;
/* font size */
$fontSize: 14px;
/* font weight */
$fontBold: 600;
/* media query */
