<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Document</title>

		<!--script-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

		<script src="./js/object/animation.js"></script>
		<script src="./js/object/sound.js"></script>

		<!--stylesheet-->
		<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">
		<link rel="stylesheet" href="./css/foundation/reset.css">
		<link rel="stylesheet" href="./css/layout/layout.css">
		<link rel="stylesheet" href="./css/object/objects.css">

	</head>

	<body>
		<div class="container">
			<header>
				<div class="content__inner">
					<a href="./top.php" class="btn-circle">
						<span><i class="fas fa-arrow-left"></i></span>
					</a>
					<div id="hintBtn" class="btn-circle f-right">
						<span><i class="fas fa-exclamation"></i></span>
					</div>
				</div>
			</header>
			<main>
				<div class="content__inner">
					<h3>？にあてはまるおんぷはどれかな</h3>
					<div id="score-component" class="swiper-container">
						<div class="swiper-wrapper">
							<score v-for="question in questions" v-bind:key="question.id" v-bind:question="question"></score>
							<div class="swiper-slide">
								<div class="swiper-slide__inner text-center">
									<div class="resultText__wrapper">
										<p>おつかれさまでした！</p>
										<p id="resultText">結果</p>
										<div class="btn-square__wrapper text-center">
											<a href="./top.php" class="btn-square">もどる</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="prevBtn" class="swiper-button-prev"></div>
						<div id="nextBtn" class="swiper-button-next"></div>
					</div>
					<section class="mess-area flex-area">
						<p class="mess"></p>
					</section>
				</div>
			</main>
			<footer>
				<div class="content__inner">
				</div>
			</footer>

			<!--scripts-->
			<script type="module" src="./js/object/hint.js"></script>
			<script type="module" src="./js/component/score.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>
			<script type="module" src="./js/object/swiper.js"></script>

			<!-- vue template -->
			<script type="text/x-template" id="score-template">
				<div class="swiper-slide" >
					<div class="swiper-slide__inner">
						<!--出題エリア-->
						<section id="dropzone" class="dropzone">
							<div>
								<p class="middleLine"></p>
								<p id="timing-bar" class="timing-bar absolute">|</p>
								<div class="box absolute hint hidden" v-for="item, index in hints" v-bind:key="item.no" v-bind:class="item.className" v-bind:style="{left: item.boxPos + '%' }"></div>
							</div>

							<div :options="{group:'ITEMS'}" class="dropzone__inner flex-area">
								<div class="box absolute" v-for="item, index in items" v-bind:key="item.no" v-bind:class="item.className" v-bind:style="{left: item.boxPos + '%' }"></div>
							</div>
						</section>

						<!--回答エリア-->

						<section class="relative">
							<div :options="{group:'ITEMS'}" class="flex-area">
								<div class="box box--border" v-for="item, index in items2" v-bind:key="item.no" v-bind:class="item.className" v-on:click="noteClick(item.length)"></div>
							</div>
							<div class="mg-10 btn-sound-frame">
								<!--
									<div class="btn-circle btn-sound absolute" onclick="playSound(2) , barActive()">
									<span><i class="fas fa-music"></i></span>
								</div>
							-->
							</div>
						</section>
						</div>
					</div>
			</script>
	</body>

</html>
